{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<div class="m-5 row d-flex">
			<div class="col-sm-5 mx-auto" style="margin-top: 100px">
				<h1 style="text-align: center;">Me connecter</h1>

				
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}
					<div style="background-color: #5A5A5A; padding: 20px">
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="email" required autofocus>
						<input type="password" name="password" id="inputPassword" class="form-control" placeholder="mot de passe" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<a style="color: white;" href="/mdp-oublie">Mot de passe oublié ?</a>
					</div>
					
					

					<button class="btn btn-success mt-3 mb-2 btn-block" type="submit" id="submit">Me connecter !</button>

				</form>
				<button class="btn btn-info mt-3 mb-2 btn-block" href="/register">Pas de compte ? M'inscrire</a>
			</div>
		</div>
	</div>
	<img style="position: absolute; top: 300px; z-index:-100" src="{{ asset('./image/line.png')}}" alt="line_image">

{% endblock %}
