{% extends "base.html.twig" %}

{% block body %}

	<!-- grille catégories -->
	{% include 'module/categories.html.twig' %}

	<!-- Résultat de recherche -->
	<div class="container">
		<div id="search-result" class="mb-5"></div>
	</div>

	<!-- grille catégories -->
	<div class="container">
		<section id="content">
			{% if donnees is empty and favoris is empty %}
				<div class="card m-5">
					<h2>Aucun résultat trouvé</h2>
				</div>
			{% else %}
				{% for favori in favoris %}
					<a href="/shop/{{favori.id}}" class="card mb-3" style="text-decoration: none">
						<div class="row g-0">
							<div class="col-md-2">
								<img src="{{ vich_uploader_asset(favori) }}" alt="..." style="width: 100%">
							</div>
							<div class="col-md-10">
								<div class="card-body">
									<div class="row">
										<div class="col-11">
											<h5 class="card-title">{{ favori.nom }}</h5>
										</div>
										<div class="col-1">
											{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
												<i class="far fav-magasin fa-star fas" value="{{ favori.id }}" name="favori" style="cursor: pointer"></i>
											{% endif %}
										</div>
									</div>
									<p class="card-text">{{favori.description}}</p>
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
				{% for donnee in donnees %}
					<a href="/shop/{{donnee.id}}" class="card mb-3" style="text-decoration: none">
						<div class="row g-0">
							<div class="col-md-2">
								<img src="{{ vich_uploader_asset(donnee) }}" alt="..." style="width: 100%">
							</div>
							<div class="col-md-10">
								<div class="card-body">
									<div class="row">
										<div class="col-11">
											<h5 class="card-title">{{ donnee.nom }}</h5>
										</div>
										<div class="col-1">
											{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
												<i class="far fav-magasin fa-star" value="{{ donnee.id }}" name="favori" style="cursor: pointer"></i>
											{% endif %}
										</div>
									</div>
									<p class="card-text">{{donnee.description}}</p>
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			{% endif %}

			<div class="pagination">
				{{ knp_pagination_render(magasins) }}
			</div>
		</section>
	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('search') }}
	{{ encore_entry_script_tags('favoris') }}
{% endblock %}
