{% extends "base.html.twig" %}

{% block body %}
	<div
		class="container">
		<!-- cacher la recherche -->
		{% block recherche %}{% endblock %}

		<div class="recherche-mag">
			<div class="form-group">

				{{ form_start(searchForm) }}

				{{ form_widget(searchForm) }}

				<button class="btn btn-outline-secondary">Rechercher</button>
				{{ form_end(searchForm) }}
			</div>
		</div>

	<!-- grille catégories -->
	<section class="categories-container">
		<div class="title">
			<h2>Catégories</h2>
		</div>
		<div class="categories">
			<a href="/categorie/1" id="cat1" class="content">
				<img src="image/boucherie.jpg" alt="image1">
				<div class="overlay">
					<div class="text">Boucherie</div>
				</div>
			</a>
			<a href="/categorie/2" id="cat2" class="content">
				<img src="image/pharmacie.jpg" alt="image2">
				<div class="overlay">
					<div class="text">Pharmacie</div>
				</div>
			</a>
			<a href="/categorie/3" id="cat3" class="content">
				<img src="image/animalier.jpg" alt="image3">
				<div class="overlay">
					<div class="text">Animalier</div>
				</div>
			</a>
			<a href="/categorie/4" id="cat4" class="content">
				<img src="image/boulangerie.jpg" alt="image4">
				<div class="overlay">
					<div class="text">Boulangerie</div>
				</div>
			</a>
			<a href="/categorie/5" id="cat5" class="content">
				<img src="image/epicerie.jpg" alt="image5">
				<div class="overlay">
					<div class="text">Epicerie</div>
				</div>
			</a>
			<a href="/categorie/6" id="cat6" class="content">
				<img src="image/vetements.jpg" alt="image6">
				<div class="overlay">
					<div class="text">Vêtements</div>
				</div>
			</a>
		</div>
	</section>

	<!-- grille des plus consultés -->
	<section class="populaire-container">
		<div class="title">
			<h2>Populaire</h2>
		</div>
		<div class="populaire">
			<a href="/article/{{ articles[0].id }}" class="content">
				<img src="{{articles[0].getImage.0.image}}" alt="image1">
				<p></p>
				<h4>{{articles[0].nom}}</h4>
			</a>
			<a href="/article/{{ articles[1].id }}" class="content">
				<img src="{{articles[1].getImage.0.image}}" alt="image2">
				<h4>{{articles[1].nom}}</h4>
			</a>
			<a href="/article/{{ articles[2].id }}" class="content">
				<img src="{{articles[2].getImage.0.image}}" alt="image3">
				<h4>{{articles[2].nom}}</h4>
			</a>
			<a href="/article/{{ articles[3].id }}" class="content">
				<img src="{{articles[3].getImage.0.image}}" alt="image4">
				<h4>{{articles[3].nom}}</h4>
			</a>
			<a href="/article/{{ articles[4].id }}" class="content">
				<img src="{{articles[4].getImage.0.image}}" alt="image5">
				<h4>{{articles[4].nom}}</h4>
			</a>
			<a href="/article/{{ articles[5].id }}" class="content">
				<img src="{{articles[5].getImage.0.image}}" alt="image6">
				<h4>{{articles[5].nom}}</h4>
			</a>
			<a href="/article/{{ articles[6].id }}" class="content">
				<img src="{{articles[6].getImage.0.image}}" alt="image7">
				<h4>{{articles[6].nom}}</h4>
			</a>
			<a href="/article/{{ articles[7].id }}" class="content">
				<img src="{{articles[7].getImage.0.image}}" alt="image8">
				<h4>{{articles[7].nom}}</h4>
			</a>
			<a href="/article/{{ articles[8].id }}" class="content">
				<img src="{{articles[8].getImage.0.image}}" alt="image9">
				<h4>{{articles[8].nom}}</h4>
			</a>
			<a href="/article/{{ articles[9].id }}" class="content">
				<img src="{{articles[9].getImage.0.image}}" alt="image10">
				<h4>{{articles[9].nom}}</h4>
			</a>
			<a href="/article/{{ articles[10].id }}" class="content">
				<img src="{{articles[10].getImage.0.image}}" alt="image11">
				<h4>{{articles[10].nom}}</h4>
			</a>
			<a href="/article/{{ articles[11].id }}" class="content">
				<img src="{{articles[11].getImage.0.image}}" alt="image12">
				<h4>{{articles[11].nom}}</h4>
			</a>
		</div>
	</section>

		<!-- grille des plus consultés -->
		<section class="populaire-container">
			<div class="title">
				<h2>Populaire</h2>
			</div>
			<div class="populaire">
				<div class="content"><img src="http://placehold.it/360x360" alt="image1"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image2"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image3"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image4"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image5"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image6"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image7"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image8"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image9"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image10"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image11"></div>
				<div class="content"><img src="http://placehold.it/360x360" alt="image12"></div>
			</div>
		</section>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/categories.js') }}"></script>
{% endblock %}

