{% extends "base.html.twig" %}


{% block body %}

	<!-- cacher la recherche -->
	{% block recherche %}{% endblock %}

	<div class="recherche-mag">
		<div class="form-group">

			{{ form_start(searchForm) }}

			{{ form_widget(searchForm) }}

			<button class="btn btn-outline-secondary">Rechercher</button>
			{{ form_end(searchForm) }}
		</div>
	</div>

	<!-- grille catégories -->
	<section class="categories-container">
		<div class="title">
			<h2>Catégories</h2>
		</div>
		<div class="categories">
			<a href="/categorie/1" id="cat1" class="content">
				<img src="image/boucherie.jpg" alt="image1">
				<div class="overlay">
					<div class="text">Boucherie</div>
				</div>
			</a>
			<a href="/categorie/2" id="cat2" class="content">
				<img src="image/pharmacie.jpg" alt="image2">
				<div class="overlay">
					<div class="text">Pharmacie</div>
				</div>
			</a>
			<a href="/categorie/3" id="cat3" class="content">
				<img src="image/animalier.jpg" alt="image3">
				<div class="overlay">
					<div class="text">Animalier</div>
				</div>
			</a>
			<a href="/categorie/4" id="cat4" class="content">
				<img src="image/boulangerie.jpg" alt="image4">
				<div class="overlay">
					<div class="text">Boulangerie</div>
				</div>
			</a>
			<a href="/categorie/5" id="cat5" class="content">
				<img src="image/epicerie.jpg" alt="image5">
				<div class="overlay">
					<div class="text">Epicerie</div>
				</div>
			</a>
			<a href="/categorie/6" id="cat6" class="content">
				<img src="image/vetements.jpg" alt="image6">
				<div class="overlay">
					<div class="text">Vêtements</div>
				</div>
			</a>
		</div>
	</section>

	<!-- grille des plus consultés -->
	<section class="populaire-container">
		<div class="title">
			<h2>Populaire</h2>
		</div>
		<div class="populaire">
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image1">
				<h4>{{articles[0].nom}}</h4>
				<p>{{articles[0].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image2">
				<h4>{{articles[1].nom}}</h4>
				<p>{{articles[1].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image3">
				<h4>{{articles[2].nom}}</h4>
				<p>{{articles[2].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image4">
				<h4>{{articles[3].nom}}</h4>
				<p>{{articles[3].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image5">
				<h4>{{articles[4].nom}}</h4>
				<p>{{articles[4].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image6">
				<h4>{{articles[5].nom}}</h4>
				<p>{{articles[5].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image7">
				<h4>{{articles[6].nom}}</h4>
				<p>{{articles[6].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image8">
				<h4>{{articles[7].nom}}</h4>
				<p>{{articles[7].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image9">
				<h4>{{articles[8].nom}}</h4>
				<p>{{articles[8].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image10">
				<h4>{{articles[9].nom}}</h4>
				<p>{{articles[9].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image11">
				<h4>{{articles[10].nom}}</h4>
				<p>{{articles[10].description}}</p>
			</div>
			<div class="content">
				<img src="http://placehold.it/360x360" alt="image12">
				<h4>{{articles[11].nom}}</h4>
				<p>{{articles[11].description}}</p>
			</div>
		</div>
	</section>


{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/categories.js') }}"></script>
{% endblock %}
