{% extends "base.html.twig" %}


{% block body %}

	<!-- cacher la recherche -->
	{% block recherche %}{% endblock %}

	<div class="recherche-mag">
		<div class="form-group">

			{{ form_start(searchForm) }}

			{{ form_widget(searchForm) }}

			<button class="btn btn-outline-secondary">Rechercher</button>
			{{ form_end(searchForm) }}
		</div>
	</div>

	<!-- grille catégories -->
	<section id="content">

		{% for magasin in magasins %}
			<article>
				<div class="card border-light mb-3" id="articlesRecents" style="max-width: 25rem;margin:1.5em;">
					<div class="magasin">
						<img src="{{magasin.image}}" alt="">
						<div class="info">
							<h4>{{ magasin.nom }}</h4>
							<p>{{magasin.description}}</p>
						</div>
					</div>
				</div>
			</article>
		{% endfor %}

	</section>

	<!-- grille catégories -->
	<section class="categories-container">
		<div class="title">
			<h2>Catégories</h2>
		</div>
		<div class="categories">
			<div class="content">
				<img src="image/boucherie.jpg" alt="image1">
				<div class="overlay">
					<div class="text">Boucherie</div>
				</div>
			</div>
			<div class="content">
				<img src="image/pharmacie.jpg" alt="image2">
				<div class="overlay">
					<div class="text">Pharmacie</div>
				</div>
			</div>
			<div class="content">
				<img src="image/animalier.jpg" alt="image3">
				<div class="overlay">
					<div class="text">Animalier</div>
				</div>
			</div>
			<div class="content">
				<img src="image/boulangerie.jpg" alt="image4">
				<div class="overlay">
					<div class="text">Boulangerie</div>
				</div>
			</div>
			<div class="content">
				<img src="image/epicerie.jpg" alt="image5">
				<div class="overlay">
					<div class="text">Epicerie</div>
				</div>
			</div>
			<div class="content">
				<img src="image/vetements.jpg" alt="image6">
				<div class="overlay">
					<div class="text">Vêtements</div>
				</div>
			</div>
		</div>
	</section>

	<!-- grille des plus consultés -->
	<section class="populaire-container">
		<div class="title">
			<h2>Populaire</h2>
		</div>
		<div class="populaire">
			<div class="content"><img src="http://placehold.it/360x360" alt="image1"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image2"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image3"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image4"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image5"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image6"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image7"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image8"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image9"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image10"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image11"></div>
			<div class="content"><img src="http://placehold.it/360x360" alt="image12"></div>
		</div>
	</section>


{% endblock %}
