{% extends "base.html.twig" %}


{% block body %}

	<!-- cacher la recherche -->
	{% block recherche %}{% endblock %}

	<div class="recherche-mag">
		<div class="form-group">

			{{ form_start(searchForm) }}

			{{ form_widget(searchForm) }}

			<button class="btn btn-outline-secondary">Rechercher</button>
			{{ form_end(searchForm) }}
		</div>
	</div>

	<section id="content">

		{% for magasin in magasins %}
			<article>
				<div class="card border-light mb-3" id="articlesRecents" style="max-width: 25rem;margin:1.5em;">
					<a href="/shop/{{magasin.id}}" class="magasin">
						<img src="{{magasin.image}}" alt="">
						<div class="info">
							<h4>{{ magasin.nom }}</h4>
							<p>{{magasin.description}}</p>
						</div>
					</a>
				</div>
			</article>
		{% endfor %}

	</section>

	<!-- grille catégories -->
	{% include 'module/categories.html.twig' %}

	<!-- grille des plus consultés -->
	{% include 'module/articlespopulaire.html.twig' %}

{% endblock %}
