{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row d-flex">
			<div class="col-xs-12 col-sm-6 col-md-5  mx-auto">


				<h1 style="text-align: center">M'inscrire..</h1>

				{% for flashError in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flashError }}</div>
				{% endfor %}

				{% for confirm in app.flashes('confirmation') %}
					<div class="alert alert-success" role="alert">{{ confirm }}</div>
				{% endfor %}

				<div style="background-color: #5A5A5A; padding: 20px; color: white;">
					{{ form_start(registrationForm) }}
					<div class="row">
						<div class="col-sm-12 col-md-6">{{ form_row(registrationForm.nom) }}</div>
						<div class="col-sm-12 col-md-6">{{ form_row(registrationForm.prenom, {label: 'Prénom'}) }}</div>
					</div>				
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
				</div>

				<div style="background-color: #5A5A5A; padding: 20px 20px 5px 20px; margin:10px 0px 10px 0px; color: white;">
					<p style="margin-bottom:0;">Souhaitez-vous mettre en ligne votre magasin ou vos produits ?</p>
					{{ form_row(registrationForm.vendeur, {label: 'Oui'}) }}
				</div>

				<button class="btn btn-success btn-block">Valider</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>


{% endblock %}
