{% extends "base.html.twig" %}

{% block javascripts %}
	<script src="{{asset('./js/swiper.js')}}"></script>
	{{ encore_entry_script_tags('magasin') }}
	{{ encore_entry_script_tags('favmag') }}
	{{ encore_entry_script_tags('rechercheArticle') }}
{% endblock %}

{% block body %}

	<div class="form-header" style="background-image: url({{ vich_uploader_asset(magasin) }}); background-size: cover; background-position: center; background-attachment: fixed;"></div>

	<div class="container">
		<section>
			<div class="row">
				<div class="col-12 col-lg-6" style="margin-bottom: 30px">
					<h1 class="text-success">{{ magasin.nom }}</h1>
					<p style="min-height: 50px">{{ magasin.description }}</p>

					<div class="favori mt-3 mb-3">
						{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

							{% if favori is empty %}
								<h5 style="display: inline">Ajouter aux favoris :
								</h5>
								<i class="far fa-star" value="{{ magasin.id }}" name="favori" style="cursor: pointer"></i>
							{% else %}
								<h5 style="display: inline">Favori :
								</h5>
								<i class="far fa-star fas" value="{{ magasin.id }}" name="favori" style="cursor: pointer"></i>
							{% endif %}
						{% endif %}
					</div>

					<h4>Informations de contact</h4>
					<ul>
						<li>
							<i class="fas fa-phone"></i>
							{{ magasin.tel }}</li>
						<li>
							<i class="fas fa-at"></i>
							{{ magasin.email }}</li>
						<li>
							<i class="fas fa-home"></i>
							{{ magasin.adresse }}</li>
					</ul>
				</div>
				<div class="col-12 col-lg-6">
					<div id="map" style="height: 300px;" value="{{magasin.latitude}},{{magasin.longitude}}"></div>
				</div>
			</div>
		</section>
		<section>
			<div class="row">
				<div class="col-12">
					<h4>PRODUITS EN VENTE</h4>	
					{% include "module/recherche.html.twig" %}
				</div>
			</div>
		</section>

		<section>
			<div class="row">
				<div class="col-12">
					<h4>ARTICLES POPULAIRES</h4>
				</div>
			</div>
			<div class="row">
				{% if articlesPop %}
					<div class="swiper-container col-12">
						<div class="swiper-wrapper">
							{% for article in articlesPop %}
								<div class="swiper-slide" style="max-width: 152px">
									{% include "./module/article.html.twig" %}
								</div>
							{% endfor %}
						</div>
					</div>
				{% else %}
					<p class="col-12 text-center">Ce magasin ne possède pas d'articles.</p>
				{% endif %}
			</div>
		</section>

		<section>
			<div class="row">
				<div class="col-12">
					<h4>TOUS LES ARTICLES</h4>
				</div>
				{% if articles %}
					<div class="swiper-container col-12">
						<div class="swiper-wrapper">
							{% for article in articles %}

								<div class="swiper-slide" style="max-width: 152px">
									{% include "./module/article.html.twig" %}
								</div>

							{% endfor %}
						</div>
					</div>
				{% else %}
					<p class="col-12 text-center">Ce magasin ne possède pas d'articles.</p>
				{% endif %}

			</div>
		</section>
	</div>
	<style>
		section {
			margin-bottom: 30px;
		}
		ul {
			padding-left: 10px;
		}
	</style>
{% endblock %}
