<h2>Détails</h2>
{{ form_start(form) }}
<div class="my-custom-class-for-errors">
	{{ form_errors(form) }}
</div>
{{ form_end(form) }}

<h2>Adresses</h2>
{% for adresse in adresses %}
	<div class="menu-item-nm">
		<div class="adresse">{{ adresse.adresse }}</div>
		<a href="{{ path('deleteLocalisation', {'id': adresse.id }) }}" class="btn btn-danger"><i class="fas fa-times"></i></a>
	</div>
{% endfor %}
{% if adresses[0] is not defined %}
	<div>Vous n'avez pas d'adresse enregistrée.</div>
{% endif %}
{% if adresses.count < 3 %}<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter une adresse</a>{% endif %}

<h2>Zone de danger !</h2>
<h5>Mot de passe</h5>
{{ include("form.html.twig", {form: password_form, button: 'Créer'}) }}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Localisez vous !</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="map"></div>
				{{include("form.html.twig", {form: localisation_form}) }}
			</div>
		</div>
	</div>
</div>

