<div class="article">
	<div style="display: flex; justify-content: space-between; margin-bottom: 0px;">
		<a style="margin-bottom: 0px" href="/article/{{ article.id }}">{{ article.nom }}</a>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<i class="far fa-star" value="{{article.id}}" style="cursor: pointer"></i>
		{% endif %}
	</div>
	<p style="margin-bottom: 0px">prix:
		{{ article.prix }}€</p>
	<div style="overflow: hidden;">
		<img src="{{ vich_uploader_asset(article) }}">
	</div>
</div>
