{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
    
    </div>
    <section id="content">
        <div class="col-sm-10">
        
        </div>
        <article>
            <div class="tittle">
                <h2>{{ article.nom }}</h2>
            </div>
            <div class="content">
                <h3>{{ magasin }}</h3>
                {% for image in images %}
                    <img src="{{ image.image }}" alt="">
                {% endfor %}
                
                <b>PRIX DE L'ARTICLE: {{ article.prix }}€</b> 
                <p>{{ article.description }}</p>
            </div>
        </article>
    </section>
{% endblock %}